body {
    background-color: #e8e8e8;
    text-align: center;
}

.top img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: white;
    border-width: 10px;
    border-style: solid;
}

.links a {
    padding: 15px 35px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 2rem;
    display: inline-flex;
    margin: 50px;
}

.links a:hover {
    color: white;
    background-color: #18b598;
}

/* CUSTOM CLASSES */
.top {
    margin-bottom: 50px;
}

.hobbies-list li {
    line-height: 1.5;
    font-size: 30px;
}

/* FAVORITE MOVIES PAGE */
#movies {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#movies .movie-card {
    flex: 1;
    margin: 20px;
    text-align: center;
}

#movies img {
    border-radius: 20px;
    display: block;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.movie-card button {
    font-size: 15px;
    padding: 5px;
    font-weight: bold;
}

.movie-card button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

/* FAVORITE BOOKS PAGE */
#books {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#books .book-card {
    flex: 1;
    margin: 20px;
    text-align: center;
}

#books img {
    margin: 0 auto;
    border-radius: 20px;
    display: block;
    width: 400px;
    height: 400px;
}

#books p {
    margin-top: 5px;
    font-size: 30px;
}